body {
  max-width: 100%;
  overflow-x: hidden;

  @media screen and (min-width: 480px) and (max-width: 1279px) {
    .menu__overlay.is-open & {
      position: fixed;
    }
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 6px;
  background-color: transparent;
  z-index: 2;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.menu {
  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: 110px;
  }
}

.menu__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    justify-content: end;
    gap: 25px;
  }
}

.logo {
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-left: -70px;
    margin-right: 0px;
  }
}

.menu__for-mobiles {
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__overlay {
  &.is-open {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 28, 38, 0.2);
    z-index: 6;
    @media screen and (min-winth: 1280px) {
      display: none;
    }
  }
}

.menu__container--for-mobiles {
  display: flex;
  background-color: $bg-mobile-menu;

  @media screen and (max-width: 479px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 20px 10px 21px;
    flex-direction: column;
    z-index: 7;

    transform: translateY(-120%);
    transition: transform 250ms $timing-function;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    padding: 10px 20px 10px 21px;
    z-index: 7;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    transform: translateY(-120%);
    transition: transform 250ms $timing-function;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    padding: 10px 24px 10px 24px;
    flex-direction: column;
    z-index: 7;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    transform: translateY(-120%);
    transition: transform 250ms $timing-function;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
    background-color: transparent;
    align-items: center;
  }

  .menu__overlay.is-open & {
    transform: translateY(0);
  }
}

.menu__container--for-desktop {
  display: flex;
  gap: 110px;
  align-items: center;
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}

.menu__button--open {
  color: $accent-color;
  stroke-width: 2px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button--close {
  align-self: end;
  margin-bottom: 15px;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button--buy {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  padding: 0;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  border-radius: 22px;
  color: $accent-color;
  background-color: $primary-text-color;
  transition: color 250ms $timing-function, background-color 250ms $timing-function;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    background-color: $bg-button-1;
  }

  @media screen and (min-width: 768px) {
    width: 186px;
  }

  @media screen and (min-width: 1280px) {
    width: 159px;
    margin-bottom: 0px;
    margin-left: auto;
  }
}

.menu__button--tablet {
  width: 160px;
  margin: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__icon {
  stroke: currentColor;
}

.menu__icon--buy {
  margin-left: 16px;
}

.menu__list {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 16px;
    line-height: 1.31;
  }

  &::before {
    content: ' ';
    position: absolute;
    left: -24px;
    top: -13px;
    display: block;
    width: 100vw;
    height: 210px;
    background-image: repeating-linear-gradient(
      $mobile-menu-gradient 0px,
      $mobile-menu-gradient 1px,
      transparent 1px,
      transparent 41px
    );
    z-index: 6;
    @media screen and (min-width: 480px) {
      width: 100%;
      left: -21px;
    }

    @media screen and (min-width: 768px) {
      left: -24px;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}

.menu__item {
  &:not(:last-child) {
    margin-bottom: 23px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
    }
  }

  &:first-child {
    margin-bottom: 22px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
    }
  }
}

.menu__link {
  position: relative;
  color: inherit;
  z-index: 8;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu__link--highlighted {
  color: $accent-color;
}

// .up {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   @media screen and (min-width: 1280px) {
//     justify-content: start;
//   }

//   &__logo {
//     width: 199px;
//     height: 50px;

//     @media screen and (min-width: 1280px) {
//       margin-left: -70px;
//       margin-right: 110px;
//     }
//   }

//   &__btns {
//     display: flex;
//     align-items: center;
//   }
// }

// .burger {
//   display: flex;
//   margin: 0;
//   padding: 0;

//   width: 20px;
//   height: 20px;

//   border: none;
//   background-color: transparent;
//   cursor: pointer;

//   z-index: 20;

//   @media screen and (min-width: 768px) {
//     margin-right: 30px;
//   }

//   @media screen and (min-width: 1280px) {
//     display: none;
//   }

//   &:hover,
//   &:focus {
//     .icon-menu {
//       stroke: #fff;
//     }
//   }

//   .icon-menu {
//     stroke: #d41443;
//     stroke-width: 2.2857px;
//   }

//   .icon-close {
//     display: none;
//   }

//   &.is-open {
//     position: absolute;
//     top: 23px;
//     right: 34px;
//     margin: 0;
//     .icon-close {
//       display: block;
//       stroke: #fff;
//       stroke-width: 2px;
//       z-index: 19;
//     }
//     .icon-menu {
//       display: none;
//     }
//   }
// }

// // mobile-menu

// .menu {
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100vh;

//   margin: 0;
//   display: none;
//   z-index: 20;
//   padding-top: 60px;

//   background: #e17992;
//   filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

//   &.is-open {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//   }

//   @media screen and (min-width: 768px) {
//     padding-top: 60px;
//     flex-direction: column;
//     width: 254px;
//   }
//   @media screen and (min-width: 1280px) {
//     position: static;
//     display: flex;
//     width: auto;
//     height: auto;
//     flex-direction: row-reverse;
//     align-items: center;
//     padding-top: 0;
//     background: transparent;
//   }
// }

// .buy {
//   width: 209px;
//   height: 44px;

//   background: #fff;
//   color: #d41443;

//   font-weight: bold;
//   font-size: 16px;
//   line-height: 21px;
//   text-align: center;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   border: none;
//   border-radius: 22px;
//   outline: none;
//   padding: 0;

//   @media screen and (min-width: 768px) {
//     width: 186px;
//   }
//   @media screen and (min-width: 1280px) {
//     display: none;
//   }

//   &__icon {
//     display: inline-flex;
//     align-items: center;

//     fill: #fff;
//     stroke: #d41443;
//     margin-left: 27px;
//   }
//   &__icon--desktop {
//     display: inline-flex;
//     margin-left: 12px;
//   }

//   &:hover,
//   &:focus {
//     background: #ecebeb;
//   }
// }
// .buy--desktop {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     width: 160px;
//   }
// }
// // navigation

// .nav {
//   margin-top: 21px;
//   width: 100%;

//   @media screen and (min-width: 1280px) {
//     margin-top: 0;
//     margin-right: 110px;
//   }
//   &__list {
//     display: flex;
//     flex-direction: column;
//     justify-content: left;

//     @media screen and (min-width: 1280px) {
//       flex-direction: row;
//       justify-content: center;
//       margin-top: 0;
//     }
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     justify-content: left;
//     padding: 12px 21px;
//     // padding-left: 21px;
//     border: 1px solid #e18298;

//     @media screen and (min-width: 768px) {
//       padding-left: 24px;
//     }
//     @media screen and (min-width: 1280px) {
//       border: none;
//       padding: 0;
//       margin-right: 35px;
//       &:last-child {
//         margin-right: 0;
//       }
//     }
//   }

//   &__link {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 18px;
//     color: #fff;

//     &:hover,
//     &:focus {
//       color: #d41443;
//     }

//     @media screen and (min-width: 1280px) {
//       font-size: 16px;
//       line-height: 21px;
//     }
//   }
// }
// .nav__link--current {
//   color: #d41443;
// }
