.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 6px;
  background-color: transparent;
  z-index: 2;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.menu {
  @media screen and (min-winth: 1280px) {
    display: flex;
  }
}

.menu__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: end;
    gap: 25px;
  }
}

.logo {
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

.menu__overlay {
  &.is-open {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(25, 28, 38, 0.2);
    z-index: 5;
    @media screen and (min-winth: 1280px) {
      position: static;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
}

.menu__container {
  display: flex;
  background-color: #e17992;

  @media screen and (max-width: 479px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 20px 10px 21px;
    flex-direction: column;
    z-index: 6;

    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    padding: 10px 20px 10px 21px;
    z-index: 6;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 254px;
    height: 100vh;
    padding: 10px 24px 10px 24px;
    flex-direction: column;
    z-index: 6;
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
    background-color: transparent;
    align-items: center;
  }

  .menu__overlay.is-open & {
    transform: translateY(0);
  }
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #d41443;
  }
}

.menu__button--open {
  color: #d41443;
  stroke-width: 2px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button--close {
  align-self: end;
  margin-bottom: 15px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.menu__button--buy {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  padding: 0;
  font-size: 16px;
  line-height: 1.31;
  font-weight: 700;
  border-radius: 22px;
  color: #d41443;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 186px;
  }

  @media screen and (min-width: 1280px) {
    width: 159px;
    margin-bottom: 0px;
    margin-left: auto;
  }
}

.menu__button--tablet {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
    width: 160px;
    margin: 0;
  }
}

.menu__icon {
  stroke: currentColor;
}

.menu__icon--buy {
  margin-left: 16px;
}

.menu__list {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;

  @media screen and (min-width: 1280px) {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 16px;
    line-height: 1.31;
  }

  &::before {
    content: ' ';
    position: absolute;
    left: -24px;
    top: -13px;
    display: block;
    width: 100vw;
    height: 210px;
    background-image: repeating-linear-gradient(
      #e18298 0px,
      #e18298 1px,
      transparent 1px,
      transparent 41px
    );
    z-index: 6;

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}

.menu__item {
  &:not(:last-child) {
    margin-bottom: 23px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
    }
  }

  &:first-child {
    margin-bottom: 22px;
    @media screen and (min-width: 1280px) {
      margin-bottom: 0px;
    }
  }
}

.menu__link {
  position: relative;
  color: inherit;
  z-index: 7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #d41443;
  }
}

.menu__link--highlighted {
  color: #d41443;
}

// .up {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   @media screen and (min-width: 1280px) {
//     justify-content: start;
//   }

//   &__logo {
//     width: 199px;
//     height: 50px;

//     @media screen and (min-width: 1280px) {
//       margin-left: -70px;
//       margin-right: 110px;
//     }
//   }

//   &__btns {
//     display: flex;
//     align-items: center;
//   }
// }

// .burger {
//   display: flex;
//   margin: 0;
//   padding: 0;

//   width: 20px;
//   height: 20px;

//   border: none;
//   background-color: transparent;
//   cursor: pointer;

//   z-index: 20;

//   @media screen and (min-width: 768px) {
//     margin-right: 30px;
//   }

//   @media screen and (min-width: 1280px) {
//     display: none;
//   }

//   &:hover,
//   &:focus {
//     .icon-menu {
//       stroke: #fff;
//     }
//   }

//   .icon-menu {
//     stroke: #d41443;
//     stroke-width: 2.2857px;
//   }

//   .icon-close {
//     display: none;
//   }

//   &.is-open {
//     position: absolute;
//     top: 23px;
//     right: 34px;
//     margin: 0;
//     .icon-close {
//       display: block;
//       stroke: #fff;
//       stroke-width: 2px;
//       z-index: 19;
//     }
//     .icon-menu {
//       display: none;
//     }
//   }
// }

// // mobile-menu

// .menu {
//   position: fixed;
//   top: 0;
//   right: 0;
//   width: 100%;
//   height: 100vh;

//   margin: 0;
//   display: none;
//   z-index: 20;
//   padding-top: 60px;

//   background: #e17992;
//   filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));

//   &.is-open {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//   }

//   @media screen and (min-width: 768px) {
//     padding-top: 60px;
//     flex-direction: column;
//     width: 254px;
//   }
//   @media screen and (min-width: 1280px) {
//     position: static;
//     display: flex;
//     width: auto;
//     height: auto;
//     flex-direction: row-reverse;
//     align-items: center;
//     padding-top: 0;
//     background: transparent;
//   }
// }

// .buy {
//   width: 209px;
//   height: 44px;

//   background: #fff;
//   color: #d41443;

//   font-weight: bold;
//   font-size: 16px;
//   line-height: 21px;
//   text-align: center;

//   display: flex;
//   align-items: center;
//   justify-content: center;

//   border: none;
//   border-radius: 22px;
//   outline: none;
//   padding: 0;

//   @media screen and (min-width: 768px) {
//     width: 186px;
//   }
//   @media screen and (min-width: 1280px) {
//     display: none;
//   }

//   &__icon {
//     display: inline-flex;
//     align-items: center;

//     fill: #fff;
//     stroke: #d41443;
//     margin-left: 27px;
//   }
//   &__icon--desktop {
//     display: inline-flex;
//     margin-left: 12px;
//   }

//   &:hover,
//   &:focus {
//     background: #ecebeb;
//   }
// }
// .buy--desktop {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: flex;
//     width: 160px;
//   }
// }
// // navigation

// .nav {
//   margin-top: 21px;
//   width: 100%;

//   @media screen and (min-width: 1280px) {
//     margin-top: 0;
//     margin-right: 110px;
//   }
//   &__list {
//     display: flex;
//     flex-direction: column;
//     justify-content: left;

//     @media screen and (min-width: 1280px) {
//       flex-direction: row;
//       justify-content: center;
//       margin-top: 0;
//     }
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     justify-content: left;
//     padding: 12px 21px;
//     // padding-left: 21px;
//     border: 1px solid #e18298;

//     @media screen and (min-width: 768px) {
//       padding-left: 24px;
//     }
//     @media screen and (min-width: 1280px) {
//       border: none;
//       padding: 0;
//       margin-right: 35px;
//       &:last-child {
//         margin-right: 0;
//       }
//     }
//   }

//   &__link {
//     font-weight: bold;
//     font-size: 14px;
//     line-height: 18px;
//     color: #fff;

//     &:hover,
//     &:focus {
//       color: #d41443;
//     }

//     @media screen and (min-width: 1280px) {
//       font-size: 16px;
//       line-height: 21px;
//     }
//   }
// }
// .nav__link--current {
//   color: #d41443;
// }

// HERO SECTION
.hero {
  background: #ffb8ca;
  position: relative;
  padding-top: 193px;
  padding-bottom: 160px;
  overflow: hidden;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 34px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    padding-bottom: 56px;
  }

  &__title {
    margin-bottom: 19px;
    font-family: 'Titan One', cursive;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-bottom: 20px;
      font-size: 22px;
      line-height: 1.14;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 25px;
      font-size: 38px;
      line-height: 1.16;
    }
  }
  &__girl {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      bottom: 0;
      right: 34px;
      width: 168px;
      height: 133px;
      z-index: 1;
    }
    @media screen and (min-width: 1280px) {
      bottom: 0;
      right: 109px;
      width: 293px;
      height: 232px;
    }
  }
  &__milk {
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 245px;
      left: 34px;
      width: 124px;
      height: 126px;
    }
    @media screen and (min-width: 1280px) {
      top: 429px;
      left: 77px;
      width: 188px;
      height: 191px;
    }
  }
  &__ice {
    position: absolute;
    top: 92px;
    right: 32px;
    width: 171px;
    height: 410px;

    @media screen and (min-width: 768px) {
      top: 63px;
      left: 378px;
      width: 143px;
      height: 336px;
    }
    @media screen and (min-width: 1280px) {
      top: 108px;
      left: 594px;
      width: 236px;
      height: 557px;
    }
  }
  &__elipse {
    position: absolute;
    top: 83px;
    right: -60px;
    width: 346px;

    @media screen and (min-width: 768px) {
      top: 31px;
      left: 307px;
      width: 324px;
    }
    @media screen and (min-width: 1280px) {
      top: 52px;
      left: 475px;
      width: 538px;
    }
  }
}

.passion {
  display: block;
  font-size: 48px;
  line-height: 0.965;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.905;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.anchor {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 112px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    font-size: 8px;
    line-height: 1.25;
    border-radius: 20px;
    border: none;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.29;
      padding: 11px 23px;
    }
  }
  &__products {
    color: #ffffff;
    background-color: #d41443;
    margin-right: 8px;

    @media screen and (min-width: 1280px) {
      margin-right: 15px;
    }

    &:hover,
    &:focus {
      background-color: #c7133e;
    }
  }
  &__made {
    color: #d41443;
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ecebeb;
    }
  }
}

.discription {
  position: relative;
  margin-left: 120px;
  width: 114px;
  z-index: 3;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 180px;
    width: 200px;
  }

  &__text {
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 7px;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 20px;
    }
  }
}

.disctiption__btn {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border-color: transparent;
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.statistics {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 94px;
    right: 34px;
    z-index: 1;
  }
  @media screen and (min-width: 1280px) {
    position: absolute;
    top: 156px;
    right: 97px;
    z-index: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  &__item {
    position: relative;
    flex-direction: column;
    justify-content: right;

    width: 43px;
    height: 44px;

    margin-left: 8px;
    margin-bottom: 13px;

    &:last-child {
      width: 51px;

      margin-left: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 72px;
      height: 77px;

      margin-left: 20px;
      margin-bottom: 15px;
      &:last-child {
        width: 92px;

        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }
  &__amount {
    font-family: Titan One;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
    margin-bottom: 2px;
    text-align: center;
    z-index: 1;

    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 53px;
    }
  }
  &__text {
    display: flex;
    vertical-align: bottom;
    font-size: 8px;
    line-height: 10px;
    text-align: right;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 16px;
    height: 16px;
    fill: #fff;

    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
    }
  }
}
