.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 165, 186, 0.4);
  background-image: linear-gradient(to right, rgba(255, 165, 186, 0.4), rgba(255, 165, 186, 0.4)),
    url('../images/pattern-cone-ice-cream_500.jpg');
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px;
  margin: 0px;
  color: inherit;
  background-color: inherit;
  border-color: transparent;
  outline: #ffffff;
  z-index: 6;
}

.backdrop__icon {
  display: block;
  border: 2px solid #d31342;
  stroke: #d31342;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop__button:hover &,
  .backdrop__button:focus &,
  .backdrop__button:active & {
    stroke: #ffffff;
    border: 3px solid #ffffff;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  padding: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffa5ba;
  background-image: linear-gradient(to bottom, #fff5f6 30%, #ffffff 70%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.backdrop--hidden & {
    transform: translate(-50%, -50%) scale(0.2);
  }

  @media screen and (min-width: 768px) {
    width: 65%;
  }

  @media screen and (min-width: 1280px) {
    width: 50%;
  }
}

.form {
  text-align: center;
}

.form__title {
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  border-radius: 8px;

  @media screen and (min-width: 1279px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.form__field {
  display: flex;
  gap: 5px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.17;
  border: 1px solid #d31342;
  border-radius: 4px;
  color: #000000;
  background-color: #ffffff;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid #000000;
  }

  &:out-of-range {
    border: 1px solid #907e82;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
}

.form__caption {
  margin-bottom: 5px;
  color: #000000;
}

.form__button {
  width: 100%;
  padding: 8px 0px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  background-color: #d41342;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__products & {
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    color: #d41342;
    background-color: #ffffff;
  }
}
