$primary-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;
$primary-text-color: #ffffff;
$text-color-dark: #000000;
$text-color-light: #907e82;
$accent-color: #d41443;
$secondary-accent-color: #ffa5ba;
$social-color: #fea5bb;
$bg-color-dark: #fff5f6;
$bg-color-light: #ffffff;
$bg-color-hero: #ffb8ca;
$bg-ice-cream: #ffb8ca;
$bg-ice-coffee: #f0d1a5;
$bg-milkshake: #c2e297;
$bg-button-1: #ecebeb;
$bg-button-2: #d41342;
$bg-button-hover: #c7133e;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$bg-mobile-menu: #e17992;
$mobile-menu-gradient: #e18298;
$mobile-menu-shadow: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
$overlay-color: rgba(25, 28, 38, 0.2);
$bg-slider-review: #fafafa;
$slider-paging-accent-color: #d31342;
$slider-paging-color: #d9d9d9;
$bg-divider: #e1e1e1;
