<section class="about overlay-mob">
  <div class="container">
    <!-- <div class="overlay-mob"> -->
    <p class="about__labe">Tradition and love</p>
    <h2 class="about__tittle">How it's made?</h2>
    <ul class="about-content">
      <li class="about-content__item about-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              images/home-pic4-desktop.webp   1x,
              images/home-pic4-desktop2x.webp 2x,
              images/home-pic4-desktop3x.webp 3x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              images/home-pic4-desktop.png   1x,
              images/home-pic4-desktop2x.png 2x,
              images/home-pic4-desktop3x.png 3x
            "
            type="image/png"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              images/home-pic4-tab.webp   1x,
              images/home-pic4-tab2x.webp 2x,
              images/home-pic4-tab3x.webp 3x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 768px)"
            srcset="
              images/home-pic4-tab.png   1x,
              images/home-pic4-tab2x.png 2x,
              images/home-pic4-tab3x.png 3x
            "
            type="image/png"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              images/home-pic4-mob.webp   1x,
              images/home-pic4-mob2x.webp 2x,
              images/home-pic4-mob3x.webp 3x
            "
            type="image/webp"
          />

          <source
            media="(max-width: 767px)"
            srcset="
              images/home-pic4-mob.png   1x,
              images/home-pic4-mob2x.png 2x,
              images/home-pic4-mob3x.png 3x
            "
            type="image/png"
          />

          <img class="about-pic" src="images/home-pic4-mob.png" alt="Корова" />
        </picture>
      </li>

      <li class="about-content__item discript">
        <div class="about-content__item-a">
          <p class="about-content__item-a--one">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </div>

        <div class="about-content__item-b">
          <p class="about-content__item-b--two">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>

          <p class="about-content__item-b--three">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>

        <!-- </div> -->
        <div class="about-block-btn">
          <button class="about-btn" type="button">
            Read more
            <svg class="about-btn__icon">
              <use href="./images/icons.svg#icon-greater-than"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
