<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__card animate__animated mov" data-animation="анимация">
      <li class="contacts__items">
        <span class="contacts__desc">CAFE</span>
        <ul class="contacts__list-internal">
          <li class="contacts__item-internal">
            <span class="contacts__location">Chicago</span>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts__item-internal contacts__item-internal--retreat">
            <p class="contacts__work-day">Monday - Friday</p>
            <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <p class="contacts__work-day">Saturday - Sunday</p>
            <p class="contacts__work-time contacts__work-time--padding">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__items">
        <span class="contacts__desc-other">FOODTRUCK</span>
        <ul class="contacts__list-internal">
          <li class="contacts__item-internal">
            <span class="contacts__location">Los Angeles</span>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts__item-internal contacts__item-internal--retreat">
            <p class="contacts__work-day">Monday - Friday</p>
            <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <p class="contacts__work-day">Saturday - Sunday</p>
            <p class="contacts__work-time contacts__work-time--padding">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__items">
        <span class="contacts__desc">CAFE</span>
        <ul class="contacts__list-internal">
          <li class="contacts__item-internal">
            <span class="contacts__location">New York</span>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts__item-internal contacts__item-internal--retreat">
            <p class="contacts__work-day">Monday - Friday</p>
            <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <p class="contacts__work-day">Saturday - Sunday</p>
            <p class="contacts__work-time contacts__work-time--padding">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__btn">
      <button class="contacts__btn-primary" type="button" data-modal-map-first-open>
        Our Locations
        <svg class="contacts__icon-primary contacts__icon-active">
          <use href="images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
      <button class="contacts__btn-secondary" type="button" data-modal-franchise-open>
        Franchise
        <svg class="contacts__icon-secondary contacts__icon-focused">
          <use href="images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- MODAL FIRST  -->
<div class="backdrop__map is-hidden" data-modal-map-first>
  <div class="contacts__modal-map">
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47534.949377694196!2d-87.64150431157294!3d41.87275920460343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b5fd3f316e7%3A0xdee4a8ff0f159419!2sScoops%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1638906217696!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52863.832083836576!2d-118.33563012339168!3d34.095409303896886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bfb8954acac1%3A0xa71743860ecef701!2sAfters%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1638906303186!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <iframe
      class="modal__map modal__map--margin"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12083.632545510078!2d-73.97687141305548!3d40.78603368727812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2599a23b5b3ff%3A0x9a7bf138d622ca31!2sBig%20Gay%20Ice%20Cream!5e0!3m2!1sru!2sua!4v1638906375993!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <button class="btn__map" type="submit" data-modal-map-first-close>
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-map-close"></use>
      </svg>
    </button>
  </div>
</div>

<!-- MODAL SECOND -->
<div class="backdrop__franchise is-hidden" data-modal-franchise>
  <div class="contacts__franchise">
    <div class="modal__franchise">
      <span class="modal__name">ice cream</span>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nihil magnam aliquam debitis
        voluptate quod incidunt perspiciatis nesciunt a consequuntur iusto commodi quas reiciendis
        dolore inventore eos quidem illo atque similique ducimus, placeat accusantium exercitationem
        rem. Earum soluta molestiae, voluptates eligendi voluptatum nobis, architecto facilis culpa
        dolore minus dolorem rem fuga laborum dolores vel dignissimos ducimus, voluptatibus
        perspiciatis illum ut! Quasi esse expedita laborum maxime a velit officia quia fugit vel
        architecto id reprehenderit, itaque, tenetur molestiae veritatis obcaecati nam cumque
        mollitia blanditiis quod voluptates, porro minus nemo. Ducimus veritatis cupiditate
        molestiae possimus odit incidunt iure quis sapiente blanditiis excepturi harum illum eius,
        mollitia expedita dolorem voluptatibus obcaecati facilis laborum ipsa sit. Eum laudantium
        deserunt assumenda, facere doloribus, officia modi ipsum necessitatibus reprehenderit nam
        nisi quasi cum? Dicta cumque minus accusamus illum dolorum est sed impedit, illo quibusdam
        officia! In laudantium vitae illum fugiat enim repellat earum eveniet odit. Non in
        reiciendis ab necessitatibus nulla deserunt nemo recusandae. Commodi, natus. Beatae minus
        excepturi accusamus tempore. Consequatur minus impedit, qui quod voluptatum pariatur saepe
        at placeat veniam quia doloremque mollitia sequi incidunt molestiae dolorum excepturi
        temporibus.
      </p>
    </div>
    <button class="btn__franchise" type="submit" data-modal-franchise-close>
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-map-close"></use>
      </svg>
    </button>
  </div>
</div>
