<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <ul class="contacts__card">
      <li class="contacts__items">
        <span class="contacts__desc">CAFE</span>
        <ul class="contacts__list-internal">
          <li class="contacts__item-internal">
            <span class="contacts__location">Chicago</span>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts__item-internal contacts__item-internal--retreat">
            <p class="contacts__work-day">Monday - Friday</p>
            <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <p class="contacts__work-day">Saturday - Sunday</p>
            <p class="contacts__work-time contacts__work-time--padding">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__items">
        <span class="contacts__desc-other">FOODTRUCK</span>
        <ul class="contacts__list-internal">
          <li class="contacts__item-internal">
            <span class="contacts__location">Los Angeles</span>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts__item-internal contacts__item-internal--retreat">
            <p class="contacts__work-day">Monday - Friday</p>
            <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <p class="contacts__work-day">Saturday - Sunday</p>
            <p class="contacts__work-time contacts__work-time--padding">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
      <li class="contacts__items">
        <span class="contacts__desc">CAFE</span>
        <ul class="contacts__list-internal">
          <li class="contacts__item-internal">
            <span class="contacts__location">New York</span>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
          <li class="contacts__item-internal contacts__item-internal--retreat">
            <p class="contacts__work-day">Monday - Friday</p>
            <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <p class="contacts__work-day">Saturday - Sunday</p>
            <p class="contacts__work-time contacts__work-time--padding">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__item-internal">
            <a class="contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__btn">
      <button class="contacts__btn-primary" type="button" data-modal-map-first-open>
        Our Locations
        <svg class="contacts__icon-primary contacts__icon-active">
          <use href="images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
      <button class="contacts__btn-secondary" type="button" data-modal-map-second-open>
        Franchise
        <svg class="contacts__icon-secondary contacts__icon-focused">
          <use href="images/icons.svg#icon-greater-than"></use>
        </svg>
      </button>
    </div>
  </div>
</section>

<!-- MODAL FIRST  -->
<div class="backdrop__map is-hidden" data-modal-map-first>
  <div class="contacts__modal-map">
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2512.746953557614!2d5.499518974034533!3d50.965382613500594!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0ded35db20eb1%3A0x6f7e967f8838626e!2sJoeyz%20Ice%20Cream!5e0!3m2!1suk!2sua!4v1638701765798!5m2!1suk!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <button class="btn__map" type="submit" data-modal-map-first-close>
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-map-close"></use>
      </svg>
    </button>
  </div>
</div>

<!-- MODAL SECOND -->
<div class="backdrop__map-second is-hidden" data-modal-map-second>
  <div class="contacts__modal-map">
    <iframe
      class="modal__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2503.26059686273!2d-0.4860795444580076!3d51.14054536091847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875c4893f26a7af%3A0x24445edd14588b84!2sMoooh%20Ice%20Cream!5e0!3m2!1suk!2sua!4v1638706693224!5m2!1suk!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <button class="btn__map" type="submit" data-modal-map-second-close>
      <svg class="btn__icon">
        <use href="./images/icons.svg#icon-map-close"></use>
      </svg>
    </button>
  </div>
</div>
</main>