<section class="customer-reviews">
  <div class="container">
    <h2 class="customer-reviews__header visually-hidden">Customer Reviews</h2>
    <ul class="customer-reviews__list slider">
      <li class="customer-reviews__item">
        <picture class="customer-reviews__image">
          <source
            srcset="
              images/testimonials1-1.webp   1x,
              images/testimonials1-12x.webp 2x,
              images/testimonials1-13x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials1-1.png   1x,
              images/testimonials1-12x.png 2x,
              images/testimonials1-13x.png 3x
            "
            type="image/png"
          />
          <img src="images/testimonials1-1.png" alt="Emily Photo" width="85" height="85" />
        </picture>
        <div class="customer-reviews__text-overlay">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__caption">Emily, Los Angeles</p>
      </li>
      <li class="customer-reviews__item">
        <picture class="customer-reviews__image">
          <source
            srcset="
              images/testimonials1-2.webp   1x,
              images/testimonials1-22x.webp 2x,
              images/testimonials1-23x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials1-2.png   1x,
              images/testimonials1-22x.png 2x,
              images/testimonials1-23x.png 3x
            "
            type="image/png"
          />
          <img src="images/testimonials1-1.png" alt="Emily Photo" width="85" height="85" />
        </picture>
        <div class="customer-reviews__text-overlay">
          <p class="customer-reviews__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores repudiandae cupiditate
            iure, eos minima aspernatur delectus, mollitia, atque quaerat quam quibusdam minus hic
            veniam sequi?
          </p>
        </div>
        <p class="customer-reviews__caption">Isabella, Houston</p>
      </li>
      <li class="customer-reviews__item">
        <picture class="customer-reviews__image">
          <source
            srcset="
              images/testimonials1-3.webp   1x,
              images/testimonials1-32x.webp 2x,
              images/testimonials1-33x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials1-3.png   1x,
              images/testimonials1-32x.png 2x,
              images/testimonials1-33x.png 3x
            "
            type="image/png"
          />
          <img src="images/testimonials1-1.png" alt="Emily Photo" width="85" height="85" />
        </picture>
        <div class="customer-reviews__text-overlay">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__caption">Charlotte, Chicago</p>
      </li>
    </ul>
  </div>
</section>
