<section class="customer-reviews">
  <div class="container">
    <h2 class="customer-reviews__header visually-hidden">Customer Reviews</h2>
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">
        <picture class="customer-reviews__image">
          <source
            srcset="
              images/testimonials1-1.webp   1x,
              images/testimonials1-12x.webp 2x,
              images/testimonials1-13x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/testimonials1-1.png   1x,
              images/testimonials1-12x.png 2x,
              images/testimonials1-13x.png 3x
            "
            type="image/png"
          />
          <img src="images/testimonials1-1.png" alt="Emily Photo" />
        </picture>
        <div class="customer-reviews__text-overlay">
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer-reviews__caption">Emily, Los Angeles</p>
      </li>
    </ul>
    <ul class="customer-reviews__icons-group">
      <li class="customer-reviews__icons">
        <svg class="customer-reviews__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-home"></use>
        </svg>
      </li>
      <li class="customer-reviews__icons">
        <svg class="customer-reviews__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-circle"></use>
        </svg>
      </li>
      <li class="customer-reviews__icons">
        <svg class="customer-reviews__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-circle"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
