<footer class="footer">
    <div class="container">
        <div class="footer__position">
            <div>
        <span class="footer__title">homemade ice cream made</span>
        <span class="footer__subtitle">with passion</span>
        </div>
        <div>
        <ul class="footer__list">
            <li class="footer__item">
                <a class="footer__link" href="https://github.com/" target="_blank">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="https://webz.telegram.org/" target="_blank">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="https://www.facebook.com/" target="_blank">
                    <svg class="footer__icon">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="footer__text">Feel free to contact
            <a class="footer__tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
        </p>
        </div>
        </div>
    </div>
    <div class="footer__block">
        <p class="footer__desc"><span>&#169</span> 2019 - IceCream.
            All Rights Reserved.</p>
    </div>
    <div class="scroll-up">
        <button class="scroll-up" type="button">
            <svg class="scroll-up__icon" width="20" height="40">
                <use href="/images/icons.svg#icon-arrow-up2"></use>
            </svg>
        </button>
    </div>
</footer>