<section class="gallery">
    <div class="container">
        <h2 class=".visually-hidden">gallery</h2>
        <picture>
            <source media="(min-width: 1280px)" srcset="/images/home-pic5-desktop.webp 1x, 
            /images/home-pic5-desktop2x.webp 2x,
            /images/home-pic5-desktop3x.webp 3x"
            type="image/webp">
            <source media="(min-width: 1280px)" srcset="/images/gallery-desctop.jpg 1x,
            /images/gallery-desctop@2x.jpg 2x,
            /images/gallery-desctop@3x.jpg 3x"
            type="image/jpg">
            
            <source media="(min-width: 768px)" srcset="/images/home-pic5-tab.webp 1x, 
            /images/home-pic5-tab2x.webp 2x,
            /images/home-pic5-tab3x.webp 3x"
            type="image/webp">
            <source media="(min-width: 768px)" srcset="/images/gallery-tablet.jpg 1x,
            /images/gallery-tablet@2x.jpg 2x,
            /images/gallery-tablet@3x.jpg 3x"
            type="image/jpg">
            
            <source media="(min-width: 320px)" srcset="/images/home-pic5-mob.webp 1x, 
            /images/home-pic5-mob2x.webp 2x,
            /images/home-pic5-mob3x.webp 3x"
            type="image/webp">
            <source media="(min-width: 320px)" srcset="/images/gallery-mob.jpg 1x,
            /images/gallery-mob@2x.jpg 2x,
            /images/gallery-mob@3x.jpg 3x"
            type="image/jpg">
            <img class="gallery__img" src="#" alt="gallery">
        </picture>
    </div>
</section>