<section class="gallery">
    <div class="container">
        <h2 class="visually-hidden">gallery</h2>        
        <ul class="gallery__list">
            <li class="gallery__item gallery__item--1">
                <img class="gallery__img " src="/images/gallery/gallery-img-1.jpg" alt="" width="140" height="140">
            </li>
            <li class="gallery__item gallery__item--2">
                <img class="gallery__img" src="/images/gallery/gallery-img-2.jpg" alt="" width="140" height="140">
                <img class="gallery__img" src="/images/gallery/gallery-img-3.jpg" alt="" width="140" height="140">
            </li>
            <li class="gallery__item">
                <img class="gallery__img gallery__img--big" src="/images/gallery/gallery-img-4.jpg" alt="" width="140" height="140">
                <img class="gallery__img" src="/images/gallery/gallery-img-5.jpg" alt="" width="280" height="280">
            </li>
            <li class="gallery__item gallery__item--3">
                <img class="gallery__img " src="/images/gallery/gallery-img-6.jpg" alt="" width="140" height="140">
                <img class="gallery__img" src="/images/gallery/gallery-img-7.jpg" alt="" width="140" height="140">
            </li>
            <li class="gallery__item gallery__item--4">
                <img class="gallery__img" src="/images/gallery/gallery-img-8.jpg" alt="" width="140" height="140">
                <img class="gallery__img" src="/images/gallery/gallery-img-9.jpg" alt="" width="140" height="140">
            </li>
            <li class="gallery__item gallery__item--5">
                <img class="gallery__img" src="/images/gallery/gallery-img-10.jpg" alt="" width="140" height="140">
            </li>
        </ul>        
    </div>
</section>