<header class="header">
  <div class="container">
    <div class="menu">
      <div class="menu__mobile">
        <a class="logo" href="#">
          <picture>
            <source
              srcset="images/logo.webp 1x, images/logo2x.webp 2x, images/logo3x.webp 3x"
              type="image/webp"
            />
            <source
              srcset="images/logo.png 1x, images/logo2x.png 2x, images/logo3x.png 3x"
              type="image/png"
            />
            <img src="images/logo.png" alt="Logo" width="199" height="50" />
          </picture>
        </a>
        <button
          class="menu__button menu__button--open js-open-menu"
          type="button"
          aria-expanded="false"
        >
          <svg
            class="menu__icon"
            width="20"
            height="20"
            aria-label="Переключатель мобильного меню"
            aria-controls="menu__container"
          >
            <use href="images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <button class="menu__button menu__button--buy menu__button--tablet" type="button">
          Buy now<svg class="menu__icon menu__icon--buy" width="8" height="10">
            <use href="images/icons.svg#icon-greater-than"></use>
          </svg>
        </button>
      </div>
      <div class="menu__overlay js-menu-container">
        <div class="menu__container" id="menu__container">
          <button
            class="menu__button menu__button--close js-close-menu"
            type="button"
            aria-expanded="false"
          >
            <svg
              class="menu__icon"
              width="14"
              height="14"
              aria-label="Переключатель мобильного меню"
            >
              <use href="images/icons.svg#icon-close"></use>
            </svg>
          </button>
          <button
            class="menu__button menu__button--buy menu__button--mobile"
            type="button"
            data-modal-open0
          >
            Buy now<svg class="menu__icon menu__icon--buy" width="8" height="10">
              <use href="images/icons.svg#icon-greater-than"></use>
            </svg>
          </button>
          <nav class="navigation">
            <ul class="menu__list">
              <li class="menu__item">
                <a href="#" class="menu__link menu__link--highlighted">Home</a>
              </li>
              <li class="menu__item">
                <a href="#advantages" class="menu__link">About us</a>
              </li>
              <li class="menu__item">
                <a href="#about" class="menu__link">How it’s made?</a>
              </li>
              <li class="menu__item">
                <a href="#products" class="menu__link">Our products</a>
              </li>
              <li class="menu__item">
                <a href="#contacts" class="menu__link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <div class="up">
      <a href="#" class="up__logo">
        <picture>
          <source
            srcset="images/logo.webp 1x, images/logo2x.webp 2x, images/logo3x.webp 3x"
            type="image/webp"
          />
          <source
            srcset="images/logo.png 1x, images/logo2x.png 2x, images/logo3x.png 3x"
            type="image/png"
          />

          <img src="images/logo.png" alt="Logo" />
        </picture>
      </a>
      <div class="menu" id="menu" data-menu>
        <button class="buy" type="button" data-modal-open0>
          Buy now
          <svg class="buy__icon" width="8" height="10">
            <use href="images/icons.svg#icon-greater-than"></use>
          </svg>
        </button>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link nav__link--current" href="#">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="#advantages">About us</a></li>
            <li class="nav__item"><a class="nav__link" href="#about">How it's made?</a></li>
            <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
            <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
          </ul>
        </nav>
      </div>

      <div class="up__btns">
        <button
          type="button"
          class="burger"
          aria-expanded="false"
          aria-controls="menu"
          data-menu-button
        >
          <svg width="20" height="20" aria-label="Mobile-menu-switch">
            <use class="icon-close" href="images/icons.svg#icon-close"></use>
            <use class="icon-menu" href="images/icons.svg#icon-burger"></use>
          </svg>
        </button>
        <button class="buy buy--desktop" type="button" data-modal-open0>
          Buy now
          <span>
            <svg class="buy__icon buy__icon--desktop" width="8" height="10">
              <use href="images/icons.svg#icon-greater-than"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</header> -->
<main>
  <section class="hero">
    <div class="container">
      <h1 class="hero__title">
        ice cream <br />
        made with
        <span class="passion">PASSION</span>
      </h1>
      <div class="anchor">
        <a class="anchor__btn anchor__products" href="#products">Products</a>
        <a class="anchor__btn anchor__made" href="#about">How it's made?</a>
      </div>

      <div class="discription">
        <p class="discription__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="disctiption__btn">
          <picture>
            <source
              srcset="
                images/arrow-right3.webp   1x,
                images/arrow-right32x.webp 2x,
                images/arrow-right33x.webp 3x
              "
              type="image/webp"
            />
            <source
              srcset="
                images/arrow-right3.png   1x,
                images/arrow-right32x.png 2x,
                images/arrow-right33x.png 3x
              "
              type="image/png"
            />
            <img src="images/arrow-right3.png" alt="arrow-right3" />
          </picture>
        </button>
      </div>

      <div class="statistics">
        <ul class="statistics__list">
          <li class="statistics__item">
            <svg class="statistics__icon">
              <use href="images/icons.svg#icon-circle"></use>
            </svg>

            <p class="statistics__amount">16</p>
            <p class="statistics__text">cafes</p>
          </li>
          <li class="statistics__item">
            <svg class="statistics__icon">
              <use href="images/icons.svg#icon-circle"></use>
            </svg>

            <p class="statistics__amount">23</p>
            <p class="statistics__text">food trucks</p>
          </li>
        </ul>
      </div>
      <picture class="hero__girl">
        <source
          srcset="
            images/slider-pic4-tab.webp   1x,
            images/slider-pic4-tab2x.webp 2x,
            images/slider-pic4-tab3x.webp 3x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic4-tab.png   1x,
            images/slider-pic4-tab2x.png 2x,
            images/slider-pic4-tab3x.png 3x
          "
          media="(max-width: 1279px)"
          type="image/png"
        />
        <source
          srcset="
            images/slider-pic4-desktop.webp   1x,
            images/slider-pic4-desktop2x.webp 2x,
            images/slider-pic4-desktop3x.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic4-desktop.png   1x,
            images/slider-pic4-desktop2x.png 2x,
            images/slider-pic4-desktop3x.png 3x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img src="images/slider-pic4-tab.png" alt="milk" />
      </picture>

      <picture class="hero__milk">
        <source
          srcset="
            images/slider-pic5-tab.webp   1x,
            images/slider-pic5-tab2x.webp 2x,
            images/slider-pic5-tab3x.webp 3x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic5-tab.png   1x,
            images/slider-pic5-tab2x.png 2x,
            images/slider-pic5-tab3x.png 3x
          "
          media="(max-width: 1279px)"
          type="image/png"
        />
        <source
          srcset="
            images/slider-pic5-desktop.webp   1x,
            images/slider-pic5-desktop2x.webp 2x,
            images/slider-pic5-desktop3x.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic5-desktop.png   1x,
            images/slider-pic5-desktop2x.png 2x,
            images/slider-pic5-desktop3x.png 3x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img src="images/slider-pic5-tab.png" alt="milk" />
      </picture>

      <picture class="hero__elipse">
        <source
          srcset="
            images/Ellipse3-tab.webp   1x,
            images/Ellipse3-tab2x.webp 2x,
            images/Ellipse3-tab3x.webp 3x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />
        <source
          srcset="
            images/ellipse3-tab.png   1x,
            images/ellipse3-tab2x.png 2x,
            images/ellipse3-tab3x.png 3x
          "
          media="(max-width: 1279px)"
          type="image/png"
        />
        <source
          srcset="
            images/Ellipse3-desktop.webp   1x,
            images/Ellipse3-desktop2x.webp 2x,
            images/Ellipse3-desktop3x.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            images/ellipse3-desktop.png   1x,
            images/ellipse3-desktop2x.png 2x,
            images/ellipse3-desktop3x.png 3x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />
        <img src="images/ellipse3-tab.png" alt="slider" />
      </picture>

      <picture class="hero__ice">
        <source
          srcset="
            images/slider-pic7-mob.webp   1x,
            images/slider-pic7-mob2x.webp 2x,
            images/slider-pic7-mob3x.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic7-mob.png   1x,
            images/slider-pic7-mob2x.png 2x,
            images/slider-pic7-mob3x.png 3x
          "
          media="(max-width: 767px)"
          type="image/png"
        />
        <source
          srcset="
            images/slider-pic7-tab.webp   1x,
            images/slider-pic7-tab2x.webp 2x,
            images/slider-pic7-tab3x.webp 3x
          "
          media="(max-width: 1279px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic7-tab.png   1x,
            images/slider-pic7-tab2x.png 2x,
            images/slider-pic7-tab3x.png 3x
          "
          media="(max-width: 1279px)"
          type="image/png"
        />
        <source
          srcset="
            images/slider-pic7-desktop.webp   1x,
            images/slider-pic7-desktop2x.webp 2x,
            images/slider-pic7-desktop3x.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />

        <source
          srcset="
            images/slider-pic7-desktop.png   1x,
            images/slider-pic7-desktop2x.png 2x,
            images/slider-pic7-desktop3x.png 3x
          "
          media="(min-width: 1280px)"
          type="image/png"
        />

        <img src="images/slider-pic7-mob.png" alt="slider" />
      </picture>
    </div>
  </section>
</main>
