<section class="hero">
  <div class="container hero__conrainer">
    <div class="statistics">
      <ul class="statistics__list">
        <li class="statistics__item">
          <p class="statistics__amount">16</p>
          <p class="statistics__text">cafes</p>
        </li>
        <li class="statistics__item">
          <p class="statistics__amount">23</p>
          <p class="statistics__text">food trucks</p>
        </li>
      </ul>
    </div>

    <h1 class="hero__title">
      ice cream <br />
      made with
      <span class="passion">PASSION</span>
    </h1>
    <div class="anchor">
      <a class="anchor__btn anchor__products" href="#products">Products</a>
      <a class="anchor__btn anchor__made" href="#about">How it's made?</a>
    </div>

    <div class="discription">
      <p class="discription__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="disctiption__btn" hero-milk-modal-open>
        <picture>
          <source
            srcset="
              images/arrow-right3.webp   1x,
              images/arrow-right32x.webp 2x,
              images/arrow-right33x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              images/arrow-right3.png   1x,
              images/arrow-right32x.png 2x,
              images/arrow-right33x.png 3x
            "
            type="image/png"
          />
          <img src="images/arrow-right3.png" alt="arrow-right3" />
        </picture>
      </button>
    </div>

    <div class="hero__image--cone animate__animated animate__zoomIn"></div>
    <div
      class="
        hero__image--girl
        animate__animated animate__pulse animate__delay-10s animate__infinite
      "
    ></div>
  </div>
</section>
