<div class="overlay">
    <div class="modal-learn">
        <button type="button" class="modal-learn-btn">
            <svg class="backdrop__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-close"></use>
              </svg>
        </button>
        <h2 class="modal-learn__header">Manufacturing</h2>
        <ul class="modal-learn__list">
            <li class="modal-learn__item">
                <p class="modal-learn__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, soluta! Temporibus quae nobis porro quod architecto laudantium. Neque nulla, nesciunt asperiores eum labore quod</p>
                <img class="modal-learn__image" src='./images/milk.png' alt="image of milk">
            </li>
            <li class="modal-learn__item">
                <p class="modal-learn__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, soluta! Temporibus quae nobis porro quod architecto laudantium. Neque nulla, nesciunt asperiores eum labore quod</p>
                <img class="modal-learn__image" src='./images/berries.png' alt="image of berries">
            </li>
            <li class="modal-learn__item">
                <p class="modal-learn__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, soluta! Temporibus quae nobis porro quod architecto laudantium. Neque nulla, nesciunt asperiores eum labore quod</p>
                <img class="modal-learn__image" src='./images/ice-cream.png' alt="image of ice-cream">
            </li>
        </ul>
    </div>
</div>