<section class="products">
    <div class="container">
        <p class="products__description">100% natural</p>
        <h2 class="products__header">products</h2>
        <ul class="products-list">
            <li class="products-list__item">
                <div class="products-list__wrapper products-list__wrapper--first">
                    <p class="products-list__heading">ice cream</p>
                    <p class="products-list__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum
                        itaque
                        magni, illum molestiae exercitationem iusto ab perferendis aspernatur. Deserunt, amet!</p>
                    <button class="products-list__btn" type="button"></button>
                </div>
            </li>
            <li class="products-list__item">
                <div class="products-list__wrapper products-list__wrapper--second">
                    <p class="products-list__heading">ice coffee</p>
                    <p class="products-list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        iure
                        assumenda ducimus obcaecati sapiente inventore quia nobis doloribus natus rerum!</p>
                    <button class="products-list__btn" type="button"></button>
                </div>
            </li>
            <li class="products-list__item">
                <div class="products-list__wrapper products-list__wrapper--third">
                    <p class="products-list__heading">milkshakes</p>
                    <p class="products-list__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
                        iure
                        assumenda ducimus obcaecati sapiente inventore quia nobis doloribus natus rerum!</p>
                    <button class="products-list__btn" type="button"></button>
                </div>
            </li>
        </ul>
    </div>
</section>